---
import slugify from 'slugify';

interface AstroProps {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  text: string;
}

const { level, text } = Astro.props as AstroProps;

const Tag = `h${level === 1 ? 2 : level}`;

const slugifiedText = slugify(text, {
  lower: true,
});
---

<Fragment
  set:html={`<${Tag} id="${slugifiedText}"><a href="#${slugifiedText}">${text}</a></${Tag}>`}
/>
