---
import ArticleJumpToSection from '@/components/article-jump-to-section.astro';
import Breadcrumb from '@/components/breadcrumb.astro';
import RichText from '@/components/richtext.astro';
import TableOfContents from '@/components/table-of-contents.astro';
import LinkedinIcon from '@/icons/linkedin.svg';
import type {
  ArticleStoryblok,
  AssetStoryblok,
  BlogCategoryStoryblok,
  TeamStoryblok,
} from '@/types/storyblok';
import { formatIsoToDate, formatIsoToReadable } from '@/utils/date';
import {
  extractHeadingsFromRichText,
  parseStoryblokImage,
  parseStoryblokYear,
  parseStoryblokYearInRichText,
} from '@/utils/storyblok';
import type { ISbStoryData } from '@storyblok/astro';
import { storyblokEditable } from '@storyblok/astro';
import { Image } from 'astro:assets';

interface AstroProps {
  blok: ArticleStoryblok;
  story: ISbStoryData<ArticleStoryblok>;
}

const { blok, story } = Astro.props as AstroProps;

const headings = extractHeadingsFromRichText(blok.content);

const processedContent = parseStoryblokYearInRichText(blok.content);

const author = blok.author[0] as ISbStoryData<TeamStoryblok>;
---

<article {...storyblokEditable(blok)} class="container">
  <div class="mx-auto max-w-3xl pt-10 xl:max-w-5xl">
    <header class="max-w-[44rem]">
      <Breadcrumb
        links={[
          { label: 'Blog', href: '/blog' },
          {
            label: (story.content.category[0] as ISbStoryData<BlogCategoryStoryblok>).name,
            href: `/${(story.content.category[0] as ISbStoryData<BlogCategoryStoryblok>).full_slug}`,
          },
          { label: parseStoryblokYear(story.name), href: story.slug },
        ]}
      />
      <ArticleJumpToSection headings={headings} />
      <h1 class="font-heading mt-5 text-3xl font-bold text-pretty text-gray-950">
        {parseStoryblokYear(story.name)}
      </h1>
      <p class="mt-4 text-lg text-gray-700">{parseStoryblokYear(blok.description)}</p>
    </header>
    <div
      class="mx-auto mt-12 mb-20 xl:grid xl:max-w-none xl:grid-cols-[44rem_1fr] xl:items-start xl:gap-x-10"
    >
      <aside class="sticky top-28 order-last hidden space-y-10 xl:block">
        <TableOfContents headings={headings} />
      </aside>
      <div>
        <div
          class="relative mb-12 aspect-[1200/630] overflow-hidden rounded-2xl bg-gray-950/5 shadow-[0_2px_10px] shadow-gray-900/20"
        >
          <Image
            sizes="(max-width: 767px) 80vw, 50vw"
            {...parseStoryblokImage(blok.cover)}
            class="absolute inset-0 size-full object-cover"
            style="color: transparent;"
          />
        </div>
        <div
          class="prose prose-headings:font-heading prose-h2:mb-4 prose-h2:mt-16 prose-h3:mb-4 prose-h3:mt-12 prose-h4:mb-4 prose-h4:mt-8 prose-p:mb-7 prose-p:mt-0 prose-p:text-base prose-p:text-gray-700 prose-code:rounded-md prose-code:border prose-code:border-gray-200 prose-code:bg-white prose-code:px-1.5 prose-code:py-1 prose-code:font-medium prose-code:before:content-none prose-code:after:content-none prose-ol:my-7 prose-ul:my-7 prose-li:text-base prose-li:text-gray-700 max-w-none"
        >
          <RichText
            text={processedContent}
            class="[&' >.prose:first-child>:first-child]:!mt-0 [&>.prose:last-child>:last-child]:!mb-0 [&>:first-child]:!mt-0 [&>:last-child]:!mb-0"
          />
        </div>
        <footer class="mt-10 flex flex-col text-xs text-gray-600">
          <dl class="ml-auto">
            <dd class="text-right">
              Publié le
              <time
                datetime={formatIsoToDate(
                  story.first_published_at || story.published_at || story.created_at
                )}
              >
                {
                  formatIsoToReadable(
                    story.first_published_at || story.published_at || story.created_at
                  )
                }
              </time>
            </dd>
            {
              formatIsoToReadable(
                story.first_published_at || story.published_at || story.created_at
              ) !==
                formatIsoToReadable(
                  story.published_at || story.first_published_at || (story.updated_at as string)
                ) && (
                <>
                  <dd class="text-right">
                    Mis à jour le
                    <time
                      datetime={formatIsoToDate(
                        story.first_published_at ||
                          story.published_at ||
                          (story.updated_at as string)
                      )}
                    >
                      {formatIsoToReadable(
                        story.published_at ||
                          story.first_published_at ||
                          (story.updated_at as string)
                      )}
                    </time>
                  </dd>
                </>
              )
            }
          </dl>
          <div class="mt-10 flex items-start gap-4">
            <div class="size-20 shrink-0 overflow-hidden rounded-full bg-blue-600/10 md:size-28">
              <Image
                {...parseStoryblokImage(author.content.picture as AssetStoryblok, [224])}
                class="aspect-square size-full object-cover"
              />
            </div>
            <div>
              <!-- <div class="text-sm font-medium text-gray-600 uppercase">Auteur</div> -->
              <div class="flex items-center gap-2">
                <div class="text-xl font-semibold text-gray-950">
                  {author.content.firstname}
                  {author.content.lastname}
                </div>
                <a href={author.content.linkedin} target="_blank" class="group">
                  <LinkedinIcon class="size-5 text-gray-600 transition group-hover:text-blue-600" />
                </a>
              </div>
              <div class="text-sm text-gray-600">{author.content.position} @ Hexium</div>
              <p class="mt-3 text-sm/5 text-gray-600 italic">{author.content.shortDescription}</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</article>
