---
import Dots from '@/images/dots.png';
import type { CallToActionStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { Image } from 'astro:assets';
interface AstroProps {
  blok: CallToActionStoryblok;
}

const { blok } = Astro.props as AstroProps;
---

<section {...storyblokEditable(blok)} class="relative py-10 md:py-20">
  <div class="container">
    <div class="relative overflow-hidden rounded-3xl bg-gray-950 px-6 py-24 shadow-2xl md:px-10">
      <Image
        sizes="80vw"
        src={Dots}
        alt="Pluie de points"
        class="pointer-events-none absolute bottom-0 left-0 h-[700px] w-[1400px] object-cover object-top opacity-20"
      />
      <div class="absolute inset-0 bg-gradient-to-b from-gray-950 via-transparent to-gray-950">
      </div>
      <div
        class="absolute inset-0 bg-gradient-to-r from-gray-950 from-10% via-transparent to-gray-950 to-90%"
      >
      </div>
      <div
        class="absolute bottom-1/4 left-1/2 h-[1000px] w-[600px] -translate-x-1/2 rounded-b-full bg-gradient-to-b from-gray-950 to-gray-950/80 to-80% blur-3xl"
      >
      </div>
      <div
        class="absolute bottom-1/3 left-1/2 h-[1000px] w-[600px] -translate-x-1/2 rounded-b-full bg-blue-500/60 blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute inset-0 bg-[url('../images/noise.png')] bg-repeat opacity-60 mix-blend-soft-light"
      >
      </div>
      <div class="relative z-10 mx-auto max-w-lg text-white">
        <h2 class="text-center font-mono text-xs leading-none font-medium text-gray-200 uppercase">
          {blok.badge}
        </h2>
        <h3
          class="font-heading mt-8 text-center text-3xl font-semibold tracking-tight text-pretty md:text-4xl"
        >
          {blok.title}
        </h3>
        <div class="mx-auto mt-8 text-center text-[0.875rem]/5 text-gray-200">
          {blok.content}
        </div>
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          {blok.buttons?.map((item) => <StoryblokComponent blok={item} />)}
        </div>
      </div>
    </div>
  </div>
</section>
