---
import { cn } from '@/lib/utils';
import type { CustomerStoryblok, WorkCategoryStoryblok, WorkStoryblok } from '@/types/storyblok';
import { parseStoryblokImage } from '@/utils/storyblok';
import type { ISbStoryData } from '@storyblok/astro';
import { Image } from 'astro:assets';

interface AstroProps {
  work: ISbStoryData<WorkStoryblok>;
  isMinimalStyle?: boolean;
}

const { work, isMinimalStyle = false } = Astro.props as AstroProps;

const hasContent = !!work.content.isPublished;
const LinkWrapper = hasContent ? 'a' : 'div';

const props = hasContent ? { 'data-href': `/${work.full_slug}`, tabindex: '0' } : { tabindex: '0' };

const workCategories = work.content.category as ISbStoryData<WorkCategoryStoryblok>[];
---

<div
  class={cn('group relative isolate flex flex-col', hasContent ? 'cursor-pointer' : '')}
  {...props}
>
  <div
    class="relative aspect-[1200/630] overflow-hidden rounded-xl bg-gray-950/5 shadow-[0_2px_10px] shadow-gray-900/20"
  >
    <Image
      sizes="(max-width: 767px) 80vw, (max-width: 1279px) 50vw, 33vw"
      class="absolute inset-0 size-full object-cover transition-all duration-300 group-focus-within:scale-105 group-hover:scale-105 group-focus:scale-105"
      style="color: transparent;"
      {...parseStoryblokImage(work.content.cover)}
      width={450}
      height={240}
    />
    <div class="absolute inset-0 bg-gray-950/60"></div>
    <Image
      sizes="30vw"
      class="absolute top-1/2 left-1/2 h-[100px] w-auto max-w-[200px] -translate-x-1/2 -translate-y-1/2 object-contain object-center"
      style="color: transparent;"
      {...parseStoryblokImage(
        (work.content.customer[0] as ISbStoryData<CustomerStoryblok>).content.logoWhite
      )}
      width={200}
      height={100}
    />
    {
      isMinimalStyle && (
        <div class="absolute inset-0 flex p-6 transition-all group-focus-within:bg-gray-950/30 group-focus-within:backdrop-blur-xs group-hover:bg-gray-950/30 group-hover:backdrop-blur-xs group-focus:bg-gray-950/30 group-focus:backdrop-blur-xs">
          <div class="flex flex-col justify-end">
            <h3 class="translate-y-[300px] text-lg/5 font-semibold tracking-tight text-white transition-all group-focus-within:translate-y-0 group-hover:translate-y-0 group-focus:translate-y-0">
              <LinkWrapper {...(hasContent ? { href: `/${work.full_slug}` } : {})}>
                {work.content.project}
                <span class="absolute inset-0 z-10" aria-hidden="true" />
              </LinkWrapper>
            </h3>
          </div>
        </div>
      )
    }
  </div>
  {
    !isMinimalStyle && (
      <div class="mt-6 flex flex-col md:px-4">
        <div class="flex flex-wrap gap-2">
          {workCategories.map((category) => (
            <div class="text-2xs font-sans font-medium tracking-wide text-blue-600 uppercase">
              {category.name}
            </div>
          ))}
        </div>
        <h3 class="font-heading mt-3 text-xl font-semibold tracking-[-0.015em] text-pretty text-gray-950 transition-all group-hover:opacity-80">
          <LinkWrapper {...(hasContent ? { href: `/${work.full_slug}` } : {})}>
            {work.content.project}
          </LinkWrapper>
        </h3>
      </div>
    )
  }
</div>

<script>
  import { navigate } from 'astro:transitions/client';
  document.addEventListener('astro:page-load', () => {
    const links = document.querySelectorAll('[data-href]');
    links.forEach((link) => {
      link.addEventListener('click', () => {
        const href = link.getAttribute('data-href');
        if (href) {
          navigate(href);
        }
      });
    });
  });
</script>
